.skills-container{
  margin: 100px 0;
  text-align: center;
}

.skills-container h1{
  margin: 20px 0px;
}

.skills-container p{
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(233, 232, 232);
}

.skills-container .skills{
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 30px;
  list-style: none;
}

.skills li {
  cursor: pointer;
  font-size: 20px;
}